<div class="container mt-5">
    <div class="row d-flex justify-content-center">
        <div class="col-md-7">
            <div class=" p-3 py-4">
                <div class="text-center wow fadeInDown"><img src="{{foulen.urlPicUser}}" style="clip-path: circle()"
                                                             width="200" class="rounded-circle"></div>
                <div class="text-center mt-3">
                    <h2 class="mt-2 mb-0 wow fadeInUp">{{foulen.prenomUser}} {{foulen.nomUser}}</h2> <h4
                        class="wow fadeInUp">{{foulen.job}}</h4>
                    <h5 class="wow fadeInUp">Score : {{foulen.score}} | Rank : {{this.rang}}</h5>
                    <h5 class="wow fadeInUp">Email : <a class="text-primary"
                                                        href="mailto:{{foulen.mailUser}}">{{this.foulen.mailUser}}</a>
                    </h5>
                    <div class="px-4 mt-1 wow fadeInUp">
                        <p class="fonts">{{foulen.description}}</p>
                    </div>
                    <ul class="social-list">
                        <li *ngIf="fb"><a class="text-primary" href="{{foulen.urlFacebook}}"><i
                                class="fa fa-facebook wow fadeIn"></i></a></li>
                        <li *ngIf="li"><a class="text-primary" href="{{foulen.urlLinkedIn}}"><i
                                class="fa fa-linkedin wow fadeIn"></i></a></li>
                        <li *ngIf="mail"><a class="text-primary" href="mailto:{{foulen.mailUser}}"><i
                                class="fa fa-google wow fadeIn"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
