<div class="wrapper">
    <div class="page-header page-header-xs" data-parallax="true"
         style="background-image: url('./assets/img/library/17.jpg');">
        <!--         style="background-image: url('./assets/img/library/17.jpg');">-->
        <!--         style="background-image: url('./assets/img/library/35.jpg');">-->
        <!--         style="background-image: url('./assets/img/library/44.jpeg');">-->
        <!--         style="background-image: url('./assets/img/library/52.jpg');">-->
        <div class="filter"></div>
    </div>
    <div class="section profile-content">
        <div class="container">
            <div class="owner">
                <div class="avatar">
                    <img src="{{foulen.urlPicUser}}" alt="Circle Image" style="clip-path: circle()"
                         class="img-circle img-no-padding img-responsive">
                </div>
                <div class="name">
                    <h3 class="title">{{foulen.prenomUser}} {{foulen.nomUser}}<br/></h3>
                    <h4 class="description">{{foulen.job}}</h4>
                </div>
            </div>
            <br>

            <div class="row">
                <div class="col-md-6 ml-auto mr-auto text-center">
                    <h5>Score : {{foulen.score}} | Rank : {{this.rang}}</h5>
                    <br/>
                </div>
            </div>

            <div class="row" *ngIf="mail">
                <div class="col-md-6 ml-auto mr-auto text-center">
                    <h5>Email : <a href="mailto:{{foulen.mailUser}}">{{this.foulen.mailUser}}</a></h5>
                    <br/>
                </div>
            </div>
            <div class="row" *ngIf="fb">
                <div class="col-md-6 ml-auto mr-auto text-center">
                    <h5>Facebook : <a href="{{foulen.urlFacebook}}">{{this.foulen.urlFacebook}}</a></h5>
                    <br/>
                </div>
            </div>
            <div class="row" *ngIf="li">
                <div class="col-md-6 ml-auto mr-auto text-center">
                    <h5>LinkedIn : <a href="{{foulen.urlLinkedIn}}">{{this.foulen.urlLinkedIn}}</a></h5>
                    <br/>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 ml-auto mr-auto text-center">
                    <p>{{foulen.description}}</p>
                    <br/>
                </div>
            </div>
            <br/>
        </div>
    </div>
</div>
