<div class="container mt-1">
    <div class="mt-5">
        <div class="row justify-content-center align-items-center h-50">
            <div class="col-md-6">
                <h1 class="text-center wow fadeInUp">All Profils : TOP 100</h1>

            </div>
            <div class="col-md-6 wow zoomIn">
                <div class="form-group ml-2 mt-5 wow fadeInUp">
                    <input type="search" (ngModelChange)="search(key.value)" #key="ngModel" ngModel name="key"
                           id="searchName"
                           class="form-control border-dark" placeholder="Search">
                </div>
            </div>
        </div>
    </div>
</div>
<main>

    <form>
        <div class="section">
            <div class="container">
                <div>
                    <br>
                    <div class="wow fadeInUp">
                        <div class="text-center">
                            <div class="">
                                <div class="">
                                    <div class="row row-cols-1 row-cols-md-2 g-4 justify-content-md-center ">
                                        <div class="wow fadeIn text-center" [hidden]="!loading">
                                            <div class="spinner-border" role="status"></div>
                                        </div>
                                        <div *ngFor="let s of utilisateur"
                                             class="col m-2 card bg-light mb-3 wow fadeInUp"
                                             (click)="this.seeOneProfile(s.uid)"
                                             style="max-width: 18rem; cursor: pointer">
                                            <div class="background blur"
                                                 [ngStyle]="{'background-image': 'url(' + s.urlPicUser + ')'}"></div>
                                            <img style="clip-path: fill-box; cursor: pointer;"
                                                 class="img-thumbnail img-no-padding img-responsive iii"
                                                 src="{{s.urlPicUser}}"
                                                 alt="Card image cap">
                                            <div class="card-body">
                                                <h5 class="card-title">{{s.prenomUser}} {{s.nomUser}}</h5>
                                                <p class="card-text">Rank : {{this.rang.indexOf(s) + 1}} --- Score
                                                    : {{s.score}}</p>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>

                            <div class="wow fadeInUp">

                                <ngb-pagination [collectionSize]="nbMaxPage2" [(page)]="currentPage" [maxSize]="5"
                                                (pageChange)="onPageChange(currentPage)"
                                                [rotate]="true"></ngb-pagination>
                            </div>

                        </div>

                    </div>
                </div>
            </div>
        </div>
    </form>

</main>
