<br>
<br>
<br>
<br>
<br>
<header>
    <div class="page-banner home-banner">
        <div class="container h-100">
            <div class="row align-items-center h-100">
                <div class="col-lg-6 py-3 wow fadeInUp">
                    <h1 class="mb-4">To Continue</h1>
                    <p class="text-lg mb-5">
                        Pour déposer un document:<br>
                        1- Vous devez vérifier si cet examen est possible de le déposer, il y'aura un controle pour le
                        copyrights.<br>
                        2- Vous devez vérifier tout d'abord que cet examen n'est pas redandont dans ce site pour but la
                        qualité
                        du service.<br>
                        3- Vous devez vérifier la propreté du document déposé et sa compltétude.<br>
                        <br>
                        Il faut suivre ces régles, ou bien vous aurez des pénalties selon l'action inprudente!!!<br>
                        <br>
                        Le baréme pour déposer un examen : +20 points<br>
                        <br>
                        <a href="#/guide" style="text-decoration: none; color: white;"> Pour lire le guide totale de ce
                            site
                            <span
                                    class="btn-link text-white-50">apuyer ici</span></a><br></p>

                    <div class="row">
                        <div class="col form-check">
                            <label class="form-check-label">
                                <input class="form-check-input " #cb id="cb" name="cb" type="checkbox" value=""
                                       (click)="ngOnInit()">
                                J'ai lu ce qui est dessus et j'accepte
                                <span class="form-check-sign"></span>
                            </label>
                        </div>
                        <button class="btn btn-primary rounded-pill col-sm-3" (click)="onPress()"
                                [disabled]="!cb.checked"
                                style="margin-right: 3%;">Continue
                        </button>
                    </div>
                </div>
                <div class="col-lg-6 py-3 wow zoomIn">
                    <div class="img-place">
                        <img src="./assets/img/bg_image_3.png" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>
