<div class="page-header" data-parallax="true" style="background-image: url('./assets/img/library/10.jpg');">
    <div class="filter"></div>
    <div class="container">
        <div class="motto ">
            <h1 class="text-center"><b>Pour continuer</b></h1>
            <br>
            <h5>
                Pour déposer un document:<br>
                1- Vous devez vérifier si cet examen est possible de le déposer, il y'aura un controle pour le
                copyrights.<br>
                2- Vous devez vérifier tout d'abord que cet examen n'est pas redandont dans ce site pour but la qualité
                du service.<br>
                3- Vous devez vérifier la propreté du document déposé et sa compltétude.<br>
                <br>
                Il faut suivre ces régles, ou bien vous aurez des pénalties selon l'action inprudente!!!<br>
                <br>
                Le baréme pour déposer un document : +10 points<br>
                <br>
                <a href="#/guide" style="text-decoration: none; color: white;"> Pour lire le guide totale de ce site
                    <span
                            class="btn-link text-white-50">apuyer ici</span></a><br>

            </h5>
            <div class="row">
                <div class="col form-check mx-5 my-1">
                    <label class="form-check-label">
                        <input class="form-check-input " #cb id="cb" name="cb" type="checkbox" value=""
                               (click)="ngOnInit()">
                        J'ai lu ce qui est dessus et j'accepte
                        <span class="form-check-sign"></span>
                    </label>
                </div>
                <button class="btn btn-secondary rounded-pill col-sm-3" (click)="onPress()" [disabled]="!cb.checked"
                        style="margin-right: 3%;">Poursuivre
                </button>
            </div>
        </div>
    </div>
</div>
