<div class="wrapper">
    <div class="page-header" style="background-image: url('./assets/img/library/36.jpg');">
        <div class="filter"></div>
    </div>
</div>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<div>
    <div class="row row-cols-1 row-cols-md-2 g-4 justify-content-md-center ">
        <div
                class="col m-2 card bg-light mb-3 wow fadeInUp"
                style="max-width: 18rem; cursor: pointer">
            <div class="background blur" style="background-image: url('./assets/img/examples/aoc3.jpg')"></div>
            <img style="clip-path: fill-box; cursor: pointer;"
                 class="img-thumbnail img-no-padding img-responsive iii "
                 src="./assets/img/examples/aoc3.jpg"
                 alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">Test reshaping image</h5>
            </div>
        </div>

    </div>
</div><br/>

<div>
    <div class="row row-cols-1 row-cols-md-2 g-4 justify-content-md-center ">
        <div
                class="col m-2 card bg-light mb-3 wow fadeInUp"
                style="max-width: 18rem; cursor: pointer">
            <span class="background blur" style="background-image: url('./assets/img/examples/fm.jpg')"></span>
            <img style="clip-path: fill-box; cursor: pointer;"
                 class="img-thumbnail img-no-padding img-responsive iii "
                 src="./assets/img/examples/fm.jpg"
                 alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">Test reshaping image</h5>
            </div>
        </div>

    </div>
</div><br/>


<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
