<div class="wrapper">
    <div class="page-header" style="background-image: url('./assets/img/library/23.jpg');">
        <div class="filter"></div>
    </div>
</div>
<p>
    Support de Recherche : Chaouachi Rania & El Kefi Manar & Hammami Rawand & Hadj Sassi Mahdi<br>
    Encadrant PFE : Tarek Ben Mne<br>
    Encadrant entrepreunariale : Tarek lassoued<br>
    Promoteur : Hadj Sassi Mahdi<br>
    Developpeur : Hadj Sassi Mahdi<br>
    Concepteur : Hadj Sassi Mahdi<br>
    Designeur : Hadj Sassi Mahdi<br>
    Ingénieur Base de Donnée : Hadj Sassi Mahdi<br>
    Architecture 3 couches : Hadj Sassi Mahdi <br>
    <br>
    remarque : juste taw , mba3ed on va oufrir plus d'informatinons.

</p>
