<div class="wrapper">
    <!--    la zone de recherche -->
    <div class="col-sm-3" style="margin: 3% auto -2%;">
        <div class="form-group">
            <input type="search" (ngModelChange)="search(key.value)" #key="ngModel" ngModel name="key" id="searchName"
                   class="form-control" placeholder="Search">
        </div>
    </div>
    <br>
    <form>
        <div class="">
            <div class="container">
                <div class="row">
                    <!--la zone de filtrage-->
                    <div class="col-3">
                        <div class="">
                            <div>
                                <form #form="ngForm" (change)="onSubmit(form)">
                                    <br>
                                    <br>
                                    <br>
                                    <br>
                                    <div>
                                        <div class="row" style="margin-left: auto">
                                            <input class="col-5 fa-lg mb-5" type="number" id="inlineCheckbox1"
                                                   #page="ngModel" ngModel
                                                   name="page" placeholder="10" min="1" max="10"/>
                                            <span class="" style="width: 5%;"></span>
                                            <h5 class=""> /Page</h5>
                                        </div>
                                    </div>
                                    <div style="margin-bottom: -10%;">
                                        <div class="row">
                                            <span class="fa-lg  col-5">Region</span>
                                            <select class="form-select form-select-sm col-5 mb-5" name="region" ngModel>
                                                <option *ngFor="let r of this.zone">{{r}}</option>
                                            </select>
                                        </div>

                                        <!--taw n7eb nzid el partie mta3 el check boxes 7othom randomly for now-->
                                        <div class="row">
                                            <span class="fa-lg col-5">Domain</span>
                                            <br>
                                            <dl class="" style="margin-left: 40%;">
                                                <dd class="text-left">
                                                    <div class="form-check">
                                                        <label class="form-check-label">
                                                            <input class="form-check-input" id="Informatique"
                                                                   name="Informatique" type="checkbox"
                                                                   value="Informatique" ngModel>
                                                            Informatique
                                                            <span class="form-check-sign"></span>
                                                        </label>
                                                    </div>
                                                    <div class="form-check">
                                                        <label class="form-check-label">
                                                            <input class="form-check-input" id="Multimedia"
                                                                   name="Multimedia" type="checkbox" value="Multimedia"
                                                                   ngModel>
                                                            Multimedia
                                                            <span class="form-check-sign"></span>
                                                        </label>
                                                    </div>
                                                    <div class="form-check">
                                                        <label class="form-check-label">
                                                            <input class="form-check-input" id="Robotique"
                                                                   name="Robotique" type="checkbox" value="Robotique"
                                                                   ngModel>
                                                            Robotique
                                                            <span class="form-check-sign"></span>
                                                        </label>
                                                    </div>
                                                    <div class="form-check">
                                                        <label class="form-check-label">
                                                            <input class="form-check-input" id="Literature"
                                                                   name="Literature" type="checkbox" value="Literature"
                                                                   ngModel>
                                                            Literature
                                                            <span class="form-check-sign"></span>
                                                        </label>
                                                    </div>
                                                    <div class="form-check">
                                                        <label class="form-check-label">
                                                            <input class="form-check-input" id="Management"
                                                                   name="Management" type="checkbox" value="Management"
                                                                   ngModel>
                                                            Management
                                                            <span class="form-check-sign"></span>
                                                        </label>
                                                    </div>
                                                    <div class="form-check">
                                                        <label class="form-check-label">
                                                            <input class="form-check-input" id="Other" name="Other"
                                                                   type="checkbox" value="Other" ngModel>
                                                            Other
                                                            <span class="form-check-sign"></span>
                                                        </label>
                                                    </div>
                                                </dd>
                                            </dl>
                                        </div>
                                    </div>
                                </form>
                            </div>


                        </div>
                    </div>
                    <!--                les resultat-->
                    <div class="col-md-9">
                        <div class="text-center">
                            <div class="">
                                <h4>Results :</h4>
                                <hr>
                                <div *ngIf="Institus.length !== 0">
                                    <p *ngFor="let s of Insti">
                                        <a class="btn btn-link btn-default"
                                           (click)="onViewCentreFormation(s.idCf)">{{s.nomCf}}</a>
                                    </p>
                                </div>
                                <div *ngIf="Institus.length === 0">
                                    <p *ngFor="let s of Instit">
                                        <a class="btn btn-link btn-default"
                                           (click)="onViewCentreFormation(s.idCf)">{{s.nomCf}}</a>
                                    </p>
                                </div>

                            </div>

                            <div class="">

                                <ngb-pagination [collectionSize]="nbMaxPage2" [(page)]="currentPage" [maxSize]="5"
                                                (pageChange)="onPageChange(currentPage)"
                                                [rotate]="true"></ngb-pagination>
                            </div>

                        </div>

                    </div>
                </div>
            </div>
        </div>
    </form>
    <br>
    <br>
    <br>
</div>
