<header>
    <div class="page-banner home-banner">
        <div class="container h-100">
            <div class="row align-items-center h-100">
                <div class="col-lg-6 py-3 wow fadeInUp">
                    <h1 class="mb-4">Account Verification !</h1>
                    <p class="text-lg mb-5">Dear {{this.users.nomUser}} {{this.users.prenomUser}}, we have sent an email
                        to {{this.users.mailUser}} containing the verification link.<br> Please click on that link to
                        finish the creation of your account!</p>
                </div>
                <div class="col-lg-6 py-3 wow zoomIn">
                    <div class="img-place">
                        <img src="./assets/img/bg_image_1.png" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>
