<!--
<app-background></app-background>
-->

Back to top button
<div class="back-to-top"></div>

<header>
    <div class="page-banner home-banner">
        <div class="container h-100">
            <div class="row align-items-center h-100">
                <div class="col-lg-6 py-3 wow fadeInUp">
                    <!--
                                        <h1 class="title-section mb-4">U<span class="marked">-</span>BooK</h1>
                    -->
                    <img src="assets/img/u-book.png" width="300"/>
                    <h3 class="mb-5">Encyclopedia For True Events And Documents Of Universities</h3>

                    <a href="#" class="btn btn-outline-purple btn-round">Contact Us</a>
                    <a href="https://www.youtube.com/watch?v=PZ7PJEtF9d0"
                       class="btn btn-purple btn-round btn-split ml-2">Watch Video
                        <div class="fab"><span class="mai-play"></span></div>
                    </a>
                </div>
                <div class="col-lg-6 py-3 wow zoomIn">
                    <div class="img-place">
                        <img src="./assets/img/bg_image_1.png" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>

<main>
    <div class="page-section features">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-6 col-lg-4 py-3 wow fadeInUp">
                    <div class="d-flex flex-row">
                        <div class="img-fluid mr-3">
                            <img src="./assets/img/icon_pattern.svg" alt="">
                        </div>
                        <div>
                            <h5>Get Knowledge Badges By Passing White Exams.</h5>
                            <p><strong>Test</strong> your skills by passing an exam and <strong>Enrich</strong> your
                                Resume .</p>
                        </div>
                    </div>
                </div>

                <div class="col-md-6 col-lg-4 py-3 wow fadeInUp">
                    <div class="d-flex flex-row">
                        <div class="img-fluid mr-3">
                            <img src="./assets/img/icon_pattern.svg" alt="">
                        </div>
                        <div>
                            <h5>Promote For Your University Events with one click !</h5>
                            <p>If you don't have a booking link, <strong>let it on us</strong>.</p>
                        </div>
                    </div>
                </div>

                <div class="col-md-6 col-lg-4 py-3 wow fadeInUp">
                    <div class="d-flex flex-row">
                        <div class="img-fluid mr-3">
                            <img src="./assets/img/icon_pattern.svg" alt="">
                        </div>
                        <div>
                            <h5>Provide University Documents And Be Famous</h5>
                            <p>But <strong>just</strong> you need a creative commons licence.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div> <!-- .container -->
    </div> <!-- .Secteurs d'application -->

    <div class="page-section">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 py-3 wow zoomIn">
                    <div class="img-place text-center">
                        <img src="./assets/img/bg_image_2.png" alt="">
                    </div>
                </div>
                <div class="col-lg-6 py-3 wow fadeInRight">
                    <h2 class="title-section">We've only <span class="marked">Recent</span> Events. And we'll get you
                        <span class="marked">Notified</span> by the events that interest you.</h2>
                    <div class="divider"></div>
                    <p>We update our resources frequently, so we'll keep just the recent events. And via your activity
                        in U-BooK we'll learn what interest you as themes, so we'll notify you to have a look on these
                        events with our recommendation system.</p>

                </div>
            </div>
        </div> <!-- .container -->
    </div> <!-- .Moteur de recommendation -->

    <div class="page-section counter-section">
        <div class="container">
            <div class="row align-items-center text-center">
                <div class="col-lg-4">
                    <h4>Total Downloads</h4>
                    <h2><span class="number" data-number="234"></span>Download</h2>
                </div>
                <div class="col-lg-4">
                    <h4>Total Inscriptions</h4>
                    <h2><span class="number" data-number="286"></span> Inscription</h2>
                </div>
                <div class="col-lg-4">
                    <h4>Total Badges earned</h4>
                    <h2><span class="number" data-number="73"></span> Badge</h2>
                </div>
            </div>
        </div> <!-- .container -->
    </div> <!-- .Key Metrics -->

    <div class="page-section">
        <div class="container">
            <div class="text-center wow fadeInUp">
                <div class="subhead">Why U-BooK</div>
                <h2 class="title-section"><span class="marked">Veracity </span> And <span
                        class="marked">Truthfulness </span> is Our Priority</h2>
                <div class="divider mx-auto"></div>
            </div>

            <div class="row mt-5 text-center">
                <div class="col-lg-4 py-3 wow fadeInUp">
                    <div class="display-3"><span class="mai-shapes"></span></div>
                    <h5>University Documents</h5>
                    <p>How much you suffered for searching and finally you end up with a fake document for your
                        revision?<br>U-BooK here to give a hand and to help!</p>
                </div>
                <div class="col-lg-4 py-3 wow fadeInUp">
                    <div class="display-3"><span class="mai-shapes"></span></div>
                    <h5>University Events</h5>
                    <p>How much you missed an important event that interest you?<br>
                        How much you suffered of fake events?<br>
                        U-BooK here to notify you by the true events that only interest you!</p>
                </div>
                <div class="col-lg-4 py-3 wow fadeInUp">
                    <div class="display-3"><span class="mai-shapes"></span></div>
                    <h5>Events Inscriptions</h5>
                    <p>Are you the manager of an event? <br>
                        Have you ever got all the Registrants present ?Are the sponsors happy of the Registrants absence
                        if they are fake inscriptions?<br>
                        U-BooK guarantee their presence.</p>
                </div>
            </div>
        </div> <!-- .container -->
    </div> <!-- .problems -->

    <div class="page-section bg-light">
        <div class="container">

            <div class="owl-carousel wow fadeInUp" id="testimonials">
                <div class="item">
                    <div class="row align-items-center">
                        <div class="col-md-6 py-3">
                            <div class="testi-image">
                                <img src="./assets/img/person/person_4.jpg" alt="">
                            </div>
                        </div>
                        <div class="col-md-6 py-3">
                            <div class="testi-content">
                                <p>Necessitatibus ipsum magni accusantium consequatur delectus a repudiandae nemo
                                    quisquam dolorum itaque, tenetur, esse optio eveniet beatae explicabo sapiente
                                    quo.</p>
                                <div class="entry-footer">
                                    <strong>Hadj Sassi Mahdi</strong> &mdash; <span
                                        class="text-grey">U-BooK CEO</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="item">
                    <div class="row align-items-center">
                        <div class="col-md-6 py-3">
                            <div class="testi-image">
                                <img src="./assets/img/person/mahdi.jpg" alt="">
                            </div>
                        </div>
                        <div class="col-md-6 py-3">
                            <div class="testi-content">
                                <p>Repudiandae vero assumenda sequi labore ipsum eos ducimus provident a nam vitae et,
                                    dolorum temporibus inventore quaerat consectetur quos! Animi, qui ratione?</p>
                                <div class="entry-footer">
                                    <strong>Ezzedine Mahdi</strong> &mdash; <span
                                        class="text-grey">U-BooK Gestionnaire</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div> <!-- .container -->
    </div> <!-- .Team-->

    <div class="page-section" id="contactings">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-6 py-3 wow fadeInUp">
                    <h2 class="title-section">Get in Touch</h2>
                    <div class="divider"></div>
                    <p>U-BooK Details </p>

                    <ul class="contact-list">
                        <li>
                            <div class="icon"><span class="mai-map"></span></div>
                            <div class="content">Bahri Ezzedine, Rakbanin Ouled Bou ali, Kerkennah, Sfax</div>
                        </li>
                        <li>
                            <div class="icon"><span class="mai-mail"></span></div>
                            <div class="content"><a href="#">mahdihadjsassi1@gmial.com</a></div>
                        </li>
                        <li>
                            <div class="icon"><span class="mai-phone-portrait"></span></div>
                            <div class="content"><a href="#">+216 51 907 825</a></div>
                        </li>
                    </ul>
                </div>
                <div class="col-lg-6 py-3 wow fadeInUp">
                    <div class="subhead">Contact Us</div>
                    <h2 class="title-section">Drop Us a Line</h2>
                    <div class="divider"></div>

                    <form action="#">
                        <div class="py-2">
                            <input type="text" class="form-control" placeholder="Email">
                        </div>
                        <div class="py-2">
                            <input type="text" class="form-control" placeholder="Object">
                        </div>
                        <div class="py-2">
                            <textarea rows="6" class="form-control" placeholder="Enter message"></textarea>
                        </div>
                        <button type="submit" class="btn btn-primary rounded-pill mt-4">Send Message</button>
                    </form>
                </div>
            </div>
        </div> <!-- .container -->
    </div> <!-- .contact us -->

    <div class="page-section client-section">
        <div class="container-fluid">
            <div class="row row-cols-2 row-cols-md-3 row-cols-lg-5 justify-content-center">
                <div class="item wow zoomIn">
                    <img src="./assets/img/clients/airbnb.png" alt="">
                </div>
                <div class="item wow zoomIn">
                    <img src="./assets/img/clients/google.png" alt="">
                </div>
                <div class="item wow zoomIn">
                    <img src="./assets/img/clients/stripe.png" alt="">
                </div>
                <div class="item wow zoomIn">
                    <img src="./assets/img/clients/paypal.png" alt="">
                </div>
                <div class="item wow zoomIn">
                    <img src="./assets/img/clients/mailchimp.png" alt="">
                </div>
            </div>
        </div> <!-- .container-fluid -->
    </div> <!-- .Partenaires-->
</main>
