<div class="wrapper">
    <div class="page-header" style="background-image: url('./assets/img/library/26.jpg');">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-sm-6 mr-auto ml-auto wow fadeIn">
                    <div class="card card-register">
                        <h3 class="title">New Account</h3>
                        <div class="social-line text-center">
                            <a href="#pablo" class="btn btn-neutral btn-facebook btn-just-icon">
                                <i class="fa fa-facebook-square"></i>
                            </a>
                            <button (click)="gmail()" class="btn btn-neutral btn-google btn-just-icon">
                                <i class="fa fa-google-plus"></i>
                            </button>
                            <a href="#pablo" class="btn btn-neutral btn-twitter btn-just-icon">
                                <i class="fa fa-twitter"></i>
                            </a>
                        </div>
                        <form #form="ngForm" class="register-form">

                            <label [ngClass]="{'text-danger':invName}">User Name</label>
                            <div class="input-group form-group-no-border "
                                 [ngClass]="{'input-group-focus':focus===true , 'inv':invName}">
                                <div class="input-group-prepend">
                                  <span class="input-group-text" [ngClass]="{'icon-danger':invName}">
                                      <i class="nc-icon nc-single-02"></i>
                                  </span>
                                </div>

                                <input name="name" type="text" class="form-control" placeholder="User Name"
                                       (focus)="focus=true"
                                       (blur)="focus=false" #name="ngModel" (ngModelChange)="verifLegnth(name.value)"
                                       required ngModel>
                                <div *ngIf="invName" class="form-control-feedback">Invalid Name !</div>
                            </div>

                            <label [ngClass]="{'text-danger':isInvalidMail}">Email</label>
                            <div class="input-group form-group-no-border "
                                 [ngClass]="{'input-group-focus':focus===true , 'inv':isInvalidMail}">
                                <div class="input-group-prepend">
                                  <span class="input-group-text" [ngClass]="{'icon-danger':isInvalidMail}">
                                      <i class="nc-icon nc-email-85"></i>
                                  </span>
                                </div>

                                <input name="email" type="email" class="form-control" placeholder="Email"
                                       (focus)="focus=true"
                                       (blur)="focus=false" #email="ngModel" (ngModelChange)="verifMail(email.value)"
                                       required pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$"
                                       ngModel>
                                <div *ngIf="isInvalidMail" class="form-control-feedback">Invalid Email !</div>
                            </div>
                            <label [ngClass]="{'text-danger':isInvalidPass}">Password</label>
                            <div class="input-group form-group-no-border"
                                 [ngClass]="{'input-group-focus':focus1===true , 'inv':isInvalidPass}">
                                <div class="input-group-prepend">
                                  <span class="input-group-text" [ngClass]="{'icon-danger':isInvalidPass}">
                                      <i class="nc-icon nc-key-25"></i>
                                  </span>
                                </div>
                                <input name="pass" type="password" class="form-control" placeholder="Password"
                                       (focus)="focus1=true" id="pass"
                                       (blur)="focus1=false" ngModel required
                                       (ngModelChange)="ontype1(key1.value)" #key1="ngModel">
                                <div class="input-group-prepend" (click)="looks()" style="cursor: pointer">
                                  <span class="input-group-text" [ngClass]="{'icon-danger':isInvalidPass}">
                                      <i *ngIf="look" class="fa fa-eye wow fadeIn"></i>
                                      <i *ngIf="!look" class="fa fa-eye-slash wow fadeIn"></i>
                                  </span>
                                </div>
                            </div>
                            <div *ngIf="isInvalidPass" [ngClass]="{'text-danger':isInvalidPass}"
                                 class="form-control-feedback">Password : at least 1number, 1uppercase, 1lowercase,6 or
                                more characters
                            </div>
                            <label [ngClass]="{'text-danger':isInvalidConfirm}">Confirm Password</label>
                            <div class="input-group form-group-no-border"
                                 [ngClass]="{'input-group-focus':focus1===true , 'inv':isInvalidConfirm}">
                                <div class="input-group-prepend">
                                  <span class="input-group-text" [ngClass]="{'icon-danger':isInvalidConfirm}">
                                      <i class="nc-icon nc-key-25"></i>
                                  </span>
                                </div>
                                <input name="repass" type="password" class="form-control" placeholder="Confirm Password"
                                       (focus)="focus1=true"
                                       (blur)="focus1=false" ngModel
                                       (ngModelChange)="ontype2(key2.value)" #key2="ngModel" required>
                                <div *ngIf="isInvalidConfirm" class="form-control-feedback">Wrong Confirmation !
                                </div>
                            </div>


                            <button (click)="onSubmit(form)" class="btn btn-github-bg btn-block btn-round"
                                    [disabled]="form.invalid||this.isInvalidConfirm"
                            >Sign Up
                            </button>
                        </form>
                        <div class="forgot">
                            <a (click)="OnClick()" class="btn btn-link btn-register">Already have an account?</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
