<div class="container mt-1">
    <div class="mt-5">
        <div class="row justify-content-center align-items-center h-50">
            <div class="col-md-6">
                <h1 class="text-center wow fadeInUp">Exams</h1>

            </div>
            <div class="col-md-6 wow zoomIn">
                <div class="form-group ml-2 mt-5 wow fadeInUp">
                    <input type="search" (ngModelChange)="search(key.value)" #key="ngModel" ngModel name="key"
                           id="searchName"
                           class="form-control border-dark" placeholder="Search">
                </div>
            </div>
        </div>
    </div>
</div>
<main>

    <form>
        <div class="section">
            <div class="container">
                <div class="row">
                    <!--                                la zone de filtrage-->
                    <div class="wow fadeInUp col-2">
                        <form #form="ngForm" (change)="onSubmit(form)">
                            <div class="">
                                <div class="row">
                                    <input class="col-5 fa-lg mb-5" type="number" id="inlineCheckbox1"
                                           #page="ngModel" ngModel
                                           name="page" placeholder="10" min="1" max="10"/>
                                    <span class="" style="width: 5%;"></span>
                                    <h5 class=""> /Page</h5>
                                </div>
                                <div class="row">
                                    <span class="fa-lg  col-6">Type</span>
                                    <select class="form-select form-select-sm col-5 mb-5" name="typeExamen"
                                            ngModel>
                                        <option value="Autre">Other</option>
                                        <option value="Cours">Exam</option>
                                        <option value="TD">DS</option>
                                        <option value="Résumé">TP</option>
                                    </select>
                                </div>
                                <div class="row">
                                    <span class="fa-lg  col-6">Subject</span>
                                    <select class="form-select form-select-sm col-5 mb-5" name="matiereExamen"
                                            ngModel>
                                        <option></option>
                                        <option value="Autre">Other</option>
                                        <option *ngFor="let s of this.matiere">{{s}}</option>
                                    </select>
                                </div>
                                <div class="row">
                                    <span class="fa-lg  col-6">Level</span>
                                    <select class="form-select form-select-sm col-5 mb-5" name="niveauExamen"
                                            ngModel>
                                        <option></option>
                                        <option value="Autre">Other</option>
                                        <option *ngFor="let s of this.niveau">{{s}}</option>
                                    </select>
                                </div>
                                <div class="row">
                                    <span class="fa-lg  col-6">Year</span>
                                    <select class="form-select form-select-sm col-5 mb-5" name="anneeExamen"
                                            ngModel>
                                        <option></option>
                                        <option *ngFor="let s of this.annee">{{s}}</option>
                                    </select>
                                </div>
                            </div>
                        </form>
                    </div>
                    <!--                                  les resultat-->

                    <br>
                    <div class="wow fadeIn text-center" [hidden]="!loading">
                        <div class="spinner-border" role="status"></div>
                    </div>
                    <div class="wow fadeInUp col">
                        <div class="text-center">
                            <div class="">
                                <h4 class="wow fadeInUp">Results :</h4>
                                <hr>
                                <div class="">
                                    <div class="row row-cols-1 row-cols-md-2 g-4 justify-content-md-center wow fadeInUp"
                                         *ngIf="exams.length !== 0">
                                        <div *ngFor="let s of ex" class="col m-2 card bg-light mb-3"
                                             style="max-width: 18rem; cursor: pointer"
                                             (click)="onViewExamen(s.idExamen)">
                                            <div class="card-header">{{s.typeExamen}}</div>
                                            <div class="card-body">
                                                <h5 class="card-title">{{s.nomExamen}}</h5>
                                                <p class="card-text">{{s.niveauExamen}} {{s.matiereExamen}}</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row row-cols-1 row-cols-md-2 g-4 justify-content-md-center wow fadeInUp"
                                         *ngIf="exams.length === 0">
                                        <div *ngFor="let s of exx" class="col m-2 card bg-light mb-3"
                                             style="max-width: 18rem; cursor: pointer"
                                             (click)="onViewExamen(s.idExamen)">
                                            <div class="card-header">{{s.typeExamen}}</div>
                                            <div class="card-body">
                                                <h5 class="card-title">{{s.nomExamen}}</h5>
                                                <p class="card-text">{{s.niveauExamen}} {{s.matiereExamen}}</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="wow fadeInUp">

                                <ngb-pagination [collectionSize]="nbMaxPage2" [(page)]="currentPage" [maxSize]="5"
                                                (pageChange)="onPageChange(currentPage)"
                                                [rotate]="true"></ngb-pagination>
                            </div>

                        </div>

                    </div>
                </div>
            </div>
        </div>
    </form>

</main>
