<div class="wrapper">
    <!--    la zone de recherche -->
    <div class="" style="margin: 3% auto -3%;">
        <div class="form-group">
            <input type="search" (ngModelChange)="search(key.value)" #key="ngModel" ngModel name="key" id="searchName"
                   class="form-control border-dark" placeholder="Search">
        </div>
    </div>
    <br>
    <form>
        <div class="">
            <div class="container">
                <div class="row">
                    <!--                la zone de filtrage-->
                    <div class="col-3">
                        <div class="">
                            <div>
                                <br>
                                <br>
                                <br>
                                <br>
                                <div>
                                    <div class="row">
                                        <button class="btn"
                                                [class]="{'btn-outline-default':!grille,'btn-default':grille}"
                                                (click)="onGrille()"><i style="font-size: 150%"
                                                                        class="fa fa-th-large"></i></button>
                                        <button class="btn"
                                                [class]="{'btn-outline-default':grille,'btn-default':!grille}"
                                                (click)="onGrille()"><i style="font-size: 150%"
                                                                        class="fa fa-th-list"></i></button>
                                    </div>
                                </div>
                                <br>
                                <form #form="ngForm" (change)="onSubmit(form)">
                                    <div>
                                        <div class="row" style="margin-left: auto">
                                            <input class="col-5 fa-lg mb-5" type="number" id="inlineCheckbox1"
                                                   #page="ngModel" ngModel
                                                   name="page" placeholder="10" min="1" max="10"/>
                                            <span class="" style="width: 5%;"></span>
                                            <h5 class=""> /Page</h5>
                                        </div>
                                    </div>
                                    <div style="margin-bottom: -10%;">
                                        <div class="row">
                                            <span class="fa-lg  col-5">Type</span>
                                            <select class="form-select form-select-sm col-5 mb-5" name="type" ngModel>
                                                <option *ngFor="let f of this.listInn">{{f}}</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div style="margin-bottom: -10%;">
                                        <div class="row">
                                            <span class="fa-lg  col-5">Universtié</span>
                                            <select class="form-select form-select-sm col-5 mb-5" name="universite"
                                                    ngModel>
                                                <option *ngFor="let u of this.listUniversite">{{u}}</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div style="margin-bottom: -10%;">
                                        <div class="row">
                                            <span class="fa-lg  col-5">Region</span>
                                            <select class="form-select form-select-sm col-5 mb-5" name="region" ngModel>
                                                <option *ngFor="let r of this.zone">{{r}}</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div style="margin-bottom: -10%;">
                                        <div class="row">
                                            <span class="fa-lg  col-5">Sexe</span>
                                            <select class="form-select form-select-sm col-5 mb-5" name="sexe" ngModel>
                                                <option>Mixte</option>
                                                <option>Garcons</option>
                                                <option>Filles</option>
                                            </select>
                                        </div>
                                    </div>
                                </form>
                            </div>


                        </div>
                    </div>
                    <!--                les resultat-->
                    <div class="wow fadeIn" style="margin-left: 25%;" [hidden]="!loading">
                        <div class="spinner-border" role="status"></div>
                    </div>
                    <div class="col-md-9">
                        <div class="text-center">
                            <div class="">
                                <h4>Results :</h4>
                                <hr>

                                <div *ngIf="grille">
                                    <div *ngIf="Institus.length !== 0"
                                         class="row row-cols-1 row-cols-md-2 g-4 justify-content-md-center ">
                                        <div *ngFor="let s of Insti" class="col m-2 card bg-light mb-3 wow fadeIn"
                                             (click)="onViewInstitus(s.id)"
                                             style="max-width: 18rem; cursor: pointer">
                                            <img class="card-img-top"
                                                 src="{{s.logo}}"
                                                 alt="Card image cap">
                                            <div class="card-body">
                                            </div>
                                            <div class="card-footer">
                                                <h5 class="card-title">{{s.abreviation}}<br>{{s.nom}}</h5>
                                                <p class="card-text">{{s.type}}<br>{{s.region}}</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div *ngIf="Institus.length === 0"
                                         class="row row-cols-1 row-cols-md-2 g-4 justify-content-md-center ">
                                        <div *ngFor="let s of Instit" class="col m-2 card bg-light mb-3 wow fadeIn"
                                             (click)="onViewInstitus(s.id)"
                                             style="max-width: 18rem; cursor: pointer">
                                            <img class="card-img-top"
                                                 src="{{s.logo}}"
                                                 alt="Card image cap">
                                            <div class="card-body">
                                            </div>
                                            <div class="card-footer">
                                                <h5 class="card-title">{{s.abreviation}}<br>{{s.nom}}</h5>
                                                <p class="card-text">{{s.type}}<br>{{s.region}}</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div *ngIf="!grille">
                                    <div class="col wow fadeInUp"
                                         *ngIf="Institus.length !== 0">
                                        <div *ngFor="let s of Insti" class="text-center" style="cursor: pointer"
                                             (click)="onViewInstitus(s.id)">
                                            <h5>[{{s.abreviation}}] {{s.nom}}</h5>
                                        </div>
                                    </div>
                                    <div class="col wow fadeInUp"
                                         *ngIf="Institus.length === 0">
                                        <div *ngFor="let s of Instit" class="text-center" style="cursor: pointer"
                                             (click)="onViewInstitus(s.id)">
                                            <h5>[{{s.abreviation}}] {{s.nom}}</h5>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="">

                                <ngb-pagination [collectionSize]="nbMaxPage2" [(page)]="currentPage" [maxSize]="5"
                                                (pageChange)="onPageChange(currentPage)"
                                                [rotate]="true"></ngb-pagination>
                            </div>

                        </div>

                    </div>
                </div>
            </div>
        </div>
    </form>
    <br>
    <br>
    <br>
</div>
