<br>
<br>
<br>
<div class="page-header wow fadeIn" data-parallax="true" [ngStyle]="{'background-image': 'url(' + this.img + ')'}">
    <div class="filter"></div>
    <div class="container">
        <div class="motto text-center wow fadeIn">
            <a *ngIf="!isAuthor" href="{{this.comp.registrationLink}}" class="btn btn-outline-neutral btn-round "><span
                    style="font-size: 500%;">BooK UP</span></a>
            <a *ngIf="isAuthor" href="/#/event/edit/competition/{{this.comp.id}}"
               class="btn btn-outline-neutral btn-round "><span
                    style="font-size: 500%;">Modify Or Delete</span></a>
        </div>
    </div>
</div>
<div class="main">
    <div class="section text-center">
        <div class="container">
            <div class="row">
                <div class="col-md-8 mr-auto ml-auto">
                    <h2 class="title wow fadeIn">{{this.comp.nom}}</h2>
                    <h3 class="wow fadeIn">Competition of : <span *ngFor="let x of this.themes"> {{x}} &nbsp;</span>
                    </h3>
                    <h5 class="description wow fadeIn">{{this.comp.description}}</h5>
                    <br>
                    <a href="{{this.comp.registrationLink}}" class="btn btn-primary btn-round wow fadeIn">BooK UP</a>
                </div>
            </div>

            <div class="text-center mt-3">
                <dl class="social-list">
                    <dd><h1 class="mr-5 wow fadeIn"><a class="text-primary" href="mailto:{{this.comp.email}}"><i
                            class="fa fa-envelope wow fadeIn"></i></a></h1></dd>
                    <dd><h1 class="ml-4 wow fadeIn"><a class="text-primary" placement="right"
                                                       ngbPopover="{{this.comp.tel}}"
                                                       popoverTitle="Phone Number"><i
                            class="fa fa-phone wow fadeIn"></i></a></h1></dd>
                </dl>
            </div>

            <div class="row">
                <div class="col-md-3 wow fadeIn">
                    <div class="info">
                        <div class="icon icon-primary">
                            <i class="nc-icon nc-calendar-60"></i>
                        </div>
                        <div class="description">
                            <h4 class="info-title">Dates</h4>
                            <p class="description">
                                Starting : {{start}}.
                                <br>
                                Finishing : {{finish}}.
                                <br>
                                Booking Limit : {{limitDate}}.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 wow fadeIn">
                    <div class="info">
                        <div class="icon icon-primary">
                            <i class="nc-icon nc-user-run"></i>
                        </div>
                        <div class="description">
                            <h4 class="info-title">Capicity</h4>
                            <p>{{this.comp.capacity}} Inscription.</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 wow fadeIn">
                    <div class="info">
                        <div class="icon icon-primary">
                            <i class="nc-icon nc-money-coins"></i>
                        </div>
                        <div class="description">
                            <h4 class="info-title">Price</h4>
                            <p>{{this.comp.price}} DT/Inscription .</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 wow fadeIn">
                    <div class="info">
                        <div class="icon icon-primary">
                            <i class="nc-icon nc-pin-3"></i>
                        </div>
                        <div class="description">
                            <h4 class="info-title">Address</h4>
                            <p>{{this.comp.address}} .</p>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>

    <div class="">
        <div class="text-center wow fadeIn">
            <div>
                <img
                        data-toggle="modal"
                        data-target="#exampleModal"
                        width="40%"
                        style="clip-path: fill-box;cursor: pointer"
                        class="img-thumbnail img-no-padding img-responsive iii"
                        src="{{this.comp.affiche}}"/>
            </div>
        </div>
        <div class="modal fade"
             id="exampleModal"
             tabindex="-1"
             role="dialog"
             aria-labelledby="exampleModalLabel"
             aria-hidden="true">

            <div class="modal-dialog" role="document">
                <div class="modal-content">

                    <!-- Add image inside the body of modal -->
                    <div class="modal-body">
                        <img id="image" src="{{this.comp.affiche}}"
                             width="100%" alt="Click on button"/>
                    </div>

                </div>
            </div>
        </div>
    </div>


    <div class="section section-dark text-center">
        <div class="container">
            <h2 class="title wow fadeIn">Paretenaires</h2>
            <div class="row text-center">
                <div class="col-4 wow fadeIn" *ngFor="let x of this.institus">
                    <div class="">
                        <a href="/#/university/Institus/{{x.idInstitus}}"><img src="{{x.logo}}" style="height: 150px;"
                                                                               alt="..."></a>
                    </div>
                    <div class="">
                        <a href="/#/university/Institus/{{x.idInstitus}}">
                            <div class="author">
                                <h4 class="card-title text-white-50">{{x.abreviation}}</h4>
                                <h6 class="text-white-50">{{x.nomInstitus}}</h6>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-4 wow fadeIn" *ngFor="let x of this.clubs">
                    <div class="">
                        <a href="/#/university/Clubs/{{x.idClub}}"><img src="{{x.logo}}" style="height: 150px;"
                                                                        alt="..."></a>
                    </div>
                    <div class="">
                        <a href="/#/university/Clubs/{{x.idClub}}">
                            <div class="author">
                                <h4 class="card-title text-white-50">{{x.nomClub}}</h4>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-4 wow fadeIn" *ngFor="let x of this.cfs">
                    <div class="">
                        <a href="/#/university/TrainingCenter/{{x.idCf}}"><img src="{{x.logo}}" style="height: 150px;"
                                                                               alt="..."></a>
                    </div>
                    <div class="">
                        <a href="/#/university/TrainingCenter/{{x.idCf}}">
                            <div class="author">
                                <h4 class="card-title text-white-50">{{x.abreviation}}</h4>
                                <h6 class="text-white-50">{{x.nomCf}}</h6>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-4 wow fadeIn" *ngFor="let x of this.partenaires">
                    <div class="" *ngIf="urling(x)">
                        <div class="">
                            <a href="{{x}}"><img src="/./assets/img/partenaires.png" style="height: 150px;"
                                                 alt="..."></a>
                        </div>
                        <div class="">
                            <a href="{{x}}">
                                <div class="author">
                                    <h4 class="card-title text-white-50">{{x}}</h4>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="" *ngIf="!urling(x)">
                        <div class="">
                            <a><img src="/./assets/img/partenaires.png" style="height: 150px;" alt="..."></a>
                        </div>
                        <div class="">
                            <a>
                                <div class="author">
                                    <h4 class="card-title text-white-50">{{x}}</h4>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
