<div class="container mt-1">
    <div class="">
        <div class="row justify-content-center align-items-center h-50">
            <div class="col-md-6">
                <h1 class="text-center wow fadeInUp">University Organisms</h1>
                <div class="form-group ml-2 mt-3 wow fadeInUp">

                </div>
            </div>
            <div class="col-md-6 wow zoomIn">
                <div class="img-place text-center ">
                    <img style="width:50%;" src="./assets/img/bg_image_3.png" alt="">
                </div>
            </div>
        </div>
    </div>
</div>

<div class="wrapper wow fadeInUp">
    <div class="m-auto" style="width: 75%; ">
        <div class="nav-tabs-navigation">
            <div class="nav-tabs-wrapper">
                <ngb-tabset [justify]="'center'">
                    <ngb-tab title="Institus">
                        <ng-template ngbTabContent>
                            <app-institus></app-institus>
                        </ng-template>
                    </ngb-tab>
                    <ngb-tab title="Trainings Center">
                        <ng-template ngbTabContent>
                            <app-centre-formation></app-centre-formation>
                        </ng-template>
                    </ngb-tab>
                    <ngb-tab title="Clubs">
                        <ng-template ngbTabContent>
                            <app-clubs></app-clubs>
                        </ng-template>
                    </ngb-tab>
                </ngb-tabset>
            </div>
        </div>
    </div>
    <br>
    <br>
    <br>
</div>
