<nav class="navbar navbar-expand-lg navbar-light navbar-float fixed-top">
    <div class="container">
        <div class="navbar-translate">
            <a href="#/acceuil" class="navbar-brand">U-<span class="text-primary">BooK</span></a>
            <button class="navbar-toggler navbar-burger" type="button" data-toggle="collapse"
                    data-target="#navbarToggler" aria-controls="navbarTogglerDemo02" aria-expanded="false"
                    aria-label="Toggle navigation" (click)="sidebarToggle()">
                <span class="navbar-toggler-bar"></span>
                <span class="navbar-toggler-bar"></span>
                <span class="navbar-toggler-bar"></span>
            </button>
        </div>
        <div class="navbar-collapse" id="navbarContent">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a routerLinkActive="active" routerLink="event" class="nav-link"><i
                            class="nc-icon nc-layout-11"></i> Events</a>
                </li>
                <li class="nav-item">
                    <a routerLinkActive="active" routerLink="event/new" class="nav-link"><i
                            class="nc-icon nc-album-2"></i>
                        Add Event</a>
                </li>
                <li class="nav-item">
                    <a routerLinkActive="active" routerLink="university" class="nav-link"><i
                            class="nc-icon nc-bank"></i> University</a>
                </li>
                <li class="nav-item">
                    <a routerLinkActive="active" routerLink="404NotFound" class="nav-link"><i
                            class="nc-icon nc-book-bookmark"></i>Blank Exams</a>
                </li>
                <li class="nav-item">
                    <a routerLinkActive="active" routerLink="documents" class="nav-link"><i
                            class="nc-icon nc-single-copy-04"></i> Documents</a>
                </li>
                <li class="nav-item">
                    <a routerLinkActive="active" routerLink="documents/reglementions" class="nav-link"><i
                            class="nc-icon nc-paper"></i>
                        Add Document</a>
                </li>
                <li class="nav-item">
                    <div class="dropdown">
                        <a routerLinkActive="active" routerLink="profils" class="nav-link"><i
                                class="nc-icon nc-single-02"></i> Profile</a>
                        <div class="dropdown-content">
                            <a routerLink="profils">My Profile</a>
                            <a routerLink="profils/all">Other Profiles</a>
                        </div>
                    </div>
                </li>
                <li class="nav-item">
                    <a *ngIf="!isRegistred ; else logouts" routerLink="auth/signin" class="btn btn-purple btn-round">Sign
                        IN / Sign UP</a>
                    <ng-template #logouts><a id="log" (click)="logout()" class="btn btn-purple btn-round"
                                             routerLink="auth/signin">Log out</a>
                    </ng-template>
                </li>
            </ul>
        </div>
    </div>
</nav>
