<div>
    <div class="container rounded bg-white mt-5 mb-5">
        <div class="row">
            <div class="col-md-3 border-right wow fadeInLeft">
                <br>
                <h4>Region : {{this.cf.region}}</h4>
                <br *ngIf="filiere[0] !== ''">
                <h5 *ngIf="filiere[0] !== ''">Liste des filiéres associé :</h5>
                <ul class="list-inline">
                    <li class="list-inline-item" *ngFor="let c of this.filiere"><p>{{c}}</p></li>
                </ul>
                <br *ngIf="this.cf.historique.length !== 0">
                <h4 *ngIf="this.cf.historique.length !== 0">About {{this.cf.nom}}</h4>
                <h5>{{this.cf.historique}}</h5>
                <br *ngIf="this.linkClub.length !== 0">
                <h4 *ngIf="this.linkClub.length !== 0">Related Clubs : </h4>
                <ul class="list-inline" *ngIf="this.linkClub.length !== 0">
                    <li class="list-inline-item" *ngFor="let c of this.linkClub"><a
                            href="/#/university/Clubs/{{c.id}}">{{c.nom}}</a><span>&nbsp;</span></li>
                </ul>
                <br *ngIf="this.linkInstitus.length !== 0">
                <h4 *ngIf="this.linkInstitus.length !== 0">Related Institutes : </h4>
                <ul class="list-inline" *ngIf="this.linkInstitus.length !== 0">
                    <li class="list-inline-item" *ngFor="let c of this.linkInstitus"><a
                            href="/#/university/Institus/{{c.id}}">{{c.nom}}</a><span>&nbsp;</span></li>
                </ul>
                <br *ngIf="this.linkPartenaires.length !== 0 && this.linkPartenaires[0] !== ''">
                <h4 *ngIf="this.linkPartenaires.length !== 0 && this.linkPartenaires[0] !== ''">Related links : </h4>
                <ul class="list-inline" *ngIf="this.linkPartenaires.length !== 0 && this.linkPartenaires[0] !== ''">
                    <li class="list-inline-item" *ngFor="let c of this.linkPartenaires"><a
                            href="/#/university/Institus/{{c}}">{{c}}</a><span>&nbsp;</span></li>
                </ul>
                <br *ngIf="this.cf.reglement.length !== 0">
                <h5 *ngIf="this.cf.reglement.length !== 0">Reglement:</h5>
                <p>{{this.cf.reglement}}</p>
            </div>
            <div class="col-md-5 border-right">
                <div class="p-3 py-5">
                    <div class="row mt-2  wow fadeIn">
                        <div class="d-flex flex-column align-items-center text-center p-3 py-5">
                            <div class="avatar ">
                                <img src="{{this.cf.logo}}" alt="Circle Image"
                                     style=""
                                     class=" img-no-padding img-responsive">
                            </div>
                        </div>

                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="p-3 py-5">
                    <div class="text-center wow fadeInRight">
                        <br>
                        <br>
                        <h1>{{this.cf.abreviation}}</h1>
                        <h2>{{this.cf.nom}}</h2>
                        <br>
                        <br>
                        <h5>{{this.cf.domaines}}</h5>
                        <br>
                        <br>
                        <h5><a class="text-primary" href="{{this.cf.urlOfficiel}}">Link : {{this.cf.urlOfficiel}}</a>
                        </h5>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
<div class="container wow fadeIn">
    <div class="row">
        <div class="col-md-8 mr-auto ml-auto">
            <div class="card page-carousel">
                <ngb-carousel>
                    <ng-template ngbSlide *ngFor="let c of this.picsUrl">
                        <img id="image" src="{{c}}" alt="Random first slide">
                    </ng-template>
                </ngb-carousel>
            </div>
        </div>
    </div>
</div>




