<div class="wrapper">
    <div class="page-header page-header-xs" data-parallax="true"
         style="background-image: url('./assets/img/library/50.jpg');">
        <div class="filter"></div>
    </div>


    <div class="row text-center">
        <h1 class="col">
            New Exam
        </h1>
    </div>

    <div class="cordido">
        <form (ngSubmit)="onSubmit(form)" #form="ngForm">
            <div class="form-group ">
                <label style="" class="h5 col" for="nomExamen"><span style="color: red">*</span>Examen Name</label>
                <input type="text" id="nomExamen" class="form-control col" style="" name="nomExamen"
                       [ngClass]="{'is-invalid':nomExamen.invalid && nomExamen.dirty}" #nomExamen="ngModel"
                       required ngModel>
                <div *ngIf="nomExamen.invalid && nomExamen.dirty " class="invalid-feedback">Please fill this field !
                </div>
            </div>
            <div class="form-group">
                <label style="" class="h5 col" for="typeExamen"><span style="color: red">*</span>Examen Type</label>

                <select class="form-select col" id="typeExamen" name="typeExamen"
                        [ngClass]="{'is-invalid':typeExamen.invalid && typeExamen.dirty}" #typeExamen="ngModel"
                        required ngModel>
                    <option value="Autre" selected>Other</option>
                    <option value="Cours">Exam</option>
                    <option value="TD">DS</option>
                    <option value="Résumé">TP</option>
                </select>
                <div *ngIf="typeExamen.invalid && typeExamen.dirty " class="invalid-feedback">Pouvez vous selectionner
                    le type du Examen.
                </div>
            </div>
            <div class="form-group">
                <label style="" class="h5 col" for="matiereExamen"><span style="color: red">*</span>Examen
                    Subject</label>
                <select class="form-select col" id="matiereExamen" name="matiereExamen"
                        [ngClass]="{'is-invalid':matiereExamen.invalid && matiereExamen.dirty}" #matiereExamen="ngModel"
                        required ngModel>
                    <option></option>
                    <option value="Autre">Other</option>
                    <option *ngFor="let s of this.matiere">{{s}}</option>
                </select>
                <div *ngIf="matiereExamen.invalid && matiereExamen.dirty " class="invalid-feedback">Pouvez vous
                    séléctionner la matiére du Examen.
                </div>
            </div>
            <div class="form-group">
                <label style="" class="h5 col" for="niveauExamen"><span style="color: red">*</span>Examen Level</label>
                <select class="form-select col" id="niveauExamen" name="niveauExamen"
                        [ngClass]="{'is-invalid':niveauExamen.invalid && niveauExamen.dirty}" #niveauExamen="ngModel"
                        required ngModel>
                    <option></option>
                    <option value="Autre">Other</option>
                    <option *ngFor="let s of this.niveau">{{s}}</option>
                </select>
                <div *ngIf="niveauExamen.invalid && niveauExamen.dirty " class="invalid-feedback">Pouvez vous
                    séléctionner le niveau du Examen.
                </div>
            </div>
            <div class="form-group">
                <label style="" class="h5 col" for="anneeExamen"><span style="color: red">*</span>Examen Year</label>
                <select class="form-select col" id="anneeExamen" name="anneeExamen"
                        [ngClass]="{'is-invalid':anneeExamen.invalid && anneeExamen.dirty}" #anneeExamen="ngModel"
                        required ngModel>
                    <option></option>
                    <option *ngFor="let s of this.annee">{{s}}</option>

                </select>
                <div *ngIf="anneeExamen.invalid && anneeExamen.dirty " class="invalid-feedback">Pouvez vous donner
                    l'année du Examen.
                </div>
            </div>
            <div class="form-group">
                <label style="" class="h5 col" for="descriptionExamen">Examen Description</label>
                <textarea type="text" id="descriptionExamen" class="form-control col" style="" name="descriptionExamen"
                          [ngClass]="{'is-invalid':descriptionExamen.invalid && descriptionExamen.dirty}"
                          #descriptionExamen="ngModel"
                          ngModel></textarea>
                <div *ngIf="descriptionExamen.invalid && descriptionExamen.dirty " class="invalid-feedback">Pouvez vous
                    donncer la description du Examen.
                </div>
            </div>
            <div class="row text-center">

                <input type="file" (change)="detectFiles($event)" class="form-control mx-auto my-4 w-75"
                       accept="image/*,.pdf,.doc,.docx,application/msword,application/vnd.openxmlformats-officeExamen.wordprocessingml.Examen">

            </div>
            <p class="text-success text-center font-weight-bold" *ngIf="fileUploaded">File Loaded !</p>
            <p class="text-danger text-center font-weight-bold" *ngIf="fileIsUploading">Loading ...</p>
            <br>
            <br>
            <div class="row">
                <button type="submit" [disabled]="form.invalid || fileIsUploading" class="col btn"><h5>Finish</h5>
                </button>
            </div>
        </form>
    </div>


</div>
