
.social-list {
    display: flex;
    list-style: none;
    justify-content: center;
    padding: 0
}

.social-list li {
    padding: 10px;
    color: #8E24AA;
    font-size: 80px
}


.cooool {
    background-color: #6C55F9;
}

.cooool:hover {
    background-color: #4324ff;
}
