<div class="wrapper">
    <div class="page-header page-header-xs" data-parallax="true"
         style="background-image: url('./assets/img/library/46.jpg');">
        <div class="filter"></div>
    </div>

    <div class="section profile-content">
        <div class="container">
            <div class="owner">
                <form #form="ngForm">

                    <div class="avatar" (click)="fileInput.click()">

                        <img src="./assets/img/faces/joe-gardner-2.jpg" alt="Circle Image"
                             class="img-circle img-no-padding img-responsive">
                    </div>


                    <div class="container ">
                        <input #fileInput style="display: none;" id="icon" type="file"
                               (change)="this.detectFiles($event)">
                        <span *ngIf="this.fileIsUploading" class="mx-2 text-warning" style="font-size: 150%"><b>Chargement...</b></span>
                        <span *ngIf="this.fileUploaded" class="mx-2 text-success"
                              style="font-size: 150%"><b>{{this.message}}</b></span>

                        <table class="m-auto">
                            <tr>
                                <td><label class=""><h5>Nom </h5></label></td>
                                <td><input class="rounded-pill" type="text" placeholder="{{this.foulen.nomUser}}"
                                           name="nom" ngModel></td>
                                <td><label class=""><h5>Prénom </h5></label></td>
                                <td><input class="rounded-pill" type="text" placeholder="{{this.foulen.prenomUser}}"
                                           name="prenom" ngModel></td>
                            </tr>
                            <tr>
                                <td><label class=""><h5>Métier</h5></label></td>
                                <td><input class="rounded-pill" type="text" placeholder="{{this.foulen.job}}" name="job"
                                           ngModel></td>
                                <td><label class=""><h5>Mail</h5></label></td>
                                <td><input class="rounded-pill" type="email" placeholder="{{this.foulen.mailUser}}"
                                           name="mail" ngModel></td>
                            </tr>
                            <tr>
                                <td><label class=""><h5>Lien de Facebook</h5></label></td>
                                <td><input class="rounded-pill" type="text" placeholder="{{this.foulen.urlFacebook}}"
                                           name="facebook" ngModel></td>
                                <td><label class=""><h5>Lien de LinkedIn</h5></label></td>
                                <td><input class="rounded-pill" type="text" placeholder="{{this.foulen.urlLinkedIn}}"
                                           name="linkedin" ngModel></td>
                            </tr>
                        </table>
                        <label class=""><h5>Score :</h5> <h5>{{this.foulen.score}}</h5></label>
                        <br>
                        <label class=""><h5>Description</h5></label>
                        <textarea type="text" class="rounded-3 input-group " placeholder="{{this.foulen.description}}"
                                  name="description" ngModel></textarea>

                    </div>
                    <div class="row">
                        <div class="col-md-6 ml-auto mr-auto text-center">
                            <br>
                            <button [disabled]="this.fileIsUploading" (click)="onSubmit(form)"
                                    class="btn btn-outline-default btn-round"><i class="nc-icon nc-check-2"></i> Apply
                                Changes
                            </button>
                        </div>
                    </div>
                </form>
            </div>


        </div>
    </div>
</div>
