<div class="container mt-1 mt-5">
    <div class="">
        <div class="row justify-content-center align-items-center h-50">
            <div class="col-md-6">
                <h2 class="text-center wow fadeInUp" style="text-decoration: underline">University Events</h2>
            </div>
        </div>
    </div>
</div>

<div class="wrapper wow fadeInUp">
    <div class="m-auto" style="width: 75%; ">
        <div class="nav-tabs-navigation">
            <div class="nav-tabs-wrapper">
                <ngb-tabset [justify]="'center'">
                    <ngb-tab title="+">
                        <ng-template ngbTabContent>
                            <h2 class="wow fadeIn">Would you like to Add your event !<br>Just Click On the button below
                                !</h2><br>
                            <a href="/#/event/new" class="btn btn-outline-primary wow fadeIn">Add Event</a>
                        </ng-template>
                    </ngb-tab>
                    <ngb-tab title="Journey">
                        <ng-template ngbTabContent>
                            <app-journey></app-journey>
                        </ng-template>
                    </ngb-tab>
                    <ngb-tab title="Certification">
                        <ng-template ngbTabContent>
                            <app-certifications></app-certifications>
                        </ng-template>
                    </ngb-tab>
                    <ngb-tab title="Training">
                        <ng-template ngbTabContent>
                            <app-formations></app-formations>
                        </ng-template>
                    </ngb-tab>
                    <ngb-tab title="Competition">
                        <ng-template ngbTabContent>
                            <app-competitions></app-competitions>
                        </ng-template>
                    </ngb-tab>
                </ngb-tabset>
            </div>
        </div>
    </div>
    <br>
    <br>
    <br>
</div>

