<footer class="page-footer">
    <div class="container">
        <div class="row justify-content-center mb-5">
            <div class="col-lg-3 py-3">
                <h3><span class="text-primary">U-</span>BooK</h3>
                <p>A University Encyclopedia offering student life services.</p>

                <p><a href="#">ubook@u-book.tn</a></p>
                <p><a href="#">+216 51 907 825</a></p>
            </div>
            <div class="col-lg-3 py-3">
                <h5>Quick Links</h5>
                <ul class="footer-menu">
                    <li><a target="_blank" href="/#/event/formations">Trainings</a></li>
                    <li><a target="_blank" href="/#/event/certifications">Certifications</a></li>
                    <li><a target="_blank" href="/#/event/competitions">Competitions</a></li>
                    <li><a target="_blank" href="/#/event/journeys">Journeys</a></li>
                    <li><a target="_blank" href="/#/">Add Publicty</a></li>
                </ul>
            </div>
            <div class="col-lg-3 py-3">
                <h5>About Us</h5>
                <ul class="footer-menu">
                    <li><a target="_blank" href="/#/aboutUs">About Us</a></li>
                    <li><a target="_blank" href="/#/">Demander un stage</a></li>
                    <li><a target="_blank" href="/#/FAQ">FAQ</a></li>
                    <li><a target="_blank" href="/#/guide">Reglements</a></li>
                    <li><a target="_blank" href="/#/">Donation</a></li>
                </ul>
            </div>
            <div class="col-lg-3 py-3">
                <h5>Report</h5>
                <form action="#">
                    <input type="text" class="form-control" placeholder="Enter your mail..">
                    <br>
                    <input type="text" class="form-control" placeholder="Object..">
                    <br>
                    <textarea class="form-control"></textarea>
                </form>

                <div class="sosmed-button mt-4">
                    <a target="_blank" href="https://www.facebook.com/HadjSassiMahdiEzzedine"><span
                            class="mai-logo-facebook-f"></span></a>
                    <a target="_blank" href="https://github.com/HadjSassi"><span class="mai-logo-github"></span></a>
                    <a target="_blank" href="mailto:mahdihadjsassi1@gmail.com"><span class="mai-logo-google"></span></a>
                    <a target="_blank" href="https://www.linkedin.com/in/mahdi-hadj-sassi/"><span
                            class="mai-logo-linkedin"></span></a>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-6 py-2">
                <p id="copyright">&copy; 2022, <a href="https://macodeid.com/">U-BooK</a>. All rights reserved</p>
            </div>
            <div class="col-sm-6 py-2 text-right">
                <div class="d-inline-block px-3">
                    <a href="#">Privacy</a>
                </div>
                <div class="d-inline-block px-3">
                    <a target="_blank" href="/#/aboutUs">Contact Us</a>
                </div>
            </div>
        </div>
    </div> <!-- .container -->
</footer> <!-- .page-footer -->
