<footer class="footer">
    <div class="container">
        <div class="row align-content-center">
            <nav class="footer-nav modal-footer">
                <ul class="img-no-padding">
                    <li><a href="#">Partenaires</a></li>
                    <li><a href="#">Formations</a></li>
                    <li><a href="#">Université</a></li>
                    <li><a href="#">Deposer un document</a></li>
                    <li><a href="#">Deposer un examen</a></li>
                    <li><a href="#">Demander un stage</a></li>
                    <li><a href="#">Clubs</a></li>
                    <li><a href="#">Certifications</a></li>
                    <li><a href="#">FAQ</a></li>
                    <li><a href="#">Reglements</a></li>
                    <li><a href="#">Compétitions</a></li>
                    <li><a href="#">About Us</a></li>
                    <li><a href="#">Documents</a></li>
                    <li><a href="#">Inscriptions</a></li>
                    <li><a href="#">Donation</a></li>
                    <li><a href="#">Profils</a></li>
                    <li><a href="#">Add Publicty</a></li>
                    <li><a href="#">Download App from PlayStore</a></li>
                    <li><a href="#">Download App from AppStore</a></li>
                    <li><a href="#"><i class="fa fa-facebook-square"></i></a></li>
                    <li><a href="#"><i class="fa fa-google"></i></a></li>
                    <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                    <li><a href="#"><i class="fa fa-github"></i></a></li>
                </ul>
            </nav>
            <div class="credits m-auto">
                <span class="copyright">
                    © {{test | date: 'yyyy'}}, U-BooK.tn made with <i class="fa fa-heart heart"></i> by Hadj Sassi Mahdi
                </span>
            </div>
        </div>
    </div>
</footer>
