ngb-pagination ::ng-deep ul > li:not(.active) > a {
    border-color: gray !important;
}

ngb-pagination ::ng-deep ul > li.active > a {
    border-color: gray !important;
    background-color: #2a2a2a !important;

}

ngb-pagination ::ng-deep ul > li:not(.active) > a {
    color: black !important;
}

ngb-pagination ::ng-deep ul > li.active > a {
    color: #dcdcdc !important;
}

.blur {
    filter: blur(8px);
    height: 350px;
}

.iii {
    position: absolute;
    width: 80%;
    transform: translate(5%, 0%);
    align-content: center;
}
